<!-- CARD DE CIMA -->
<div class="row menu" id="menu">
    <div class="col-sm-7 col-md-3" *ngFor="let cards of card">
        <a href="#" data-toggle="modal" data-target="#modalRecarga">
            <div class="card tamanhoCard">
                <div class="card-body">
                    <h5 class="card-title">{{ cards.cardTitle }}</h5>
                    <p class="card-text">{{ cards.cardText }}</p>
                    <h5 class="card-title">{{ cards.cardTitle2 }} </h5>
                    <h5 class="card-title">{{ cards.cardTitle3 }}</h5>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- CARD DE BAIXO -->
<div class="row menu" id="menu_2">
    <div class="col-sm-7 col-md-3" *ngFor="let cards of card2">
        <a href="#" data-toggle="modal" data-target="#modalCpf">
            <!-- referenciar o data modal no card -->
            <div class="card tamanhoCard">
                <div class="card-body">
                    <h5 class="card-title">{{ cards.cardTitle }}</h5>
                    <p class="card-text">{{ cards.cardText }}</p>
                    <h5 class="card-title">{{ cards.cardTitle2 }} </h5>
                    <h5 class="card-title">{{ cards.cardTitle3 }}</h5>
                </div>
            </div>
        </a>
    </div>
</div>