<div class="row menu" id="menu">

    <div class="col-sm-7 col-md-3">
        <a href="#" data-toggle="modal" data-target="#modalRecarga">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">RECARREGUE JÁ</h5>
                    <p class="card-text">Recarga de Celular</p>
                    <h5 class="card-title">MÍNIMO</h5>
                    <h5 class="card-title">R$ 20,00</h5>
                </div>
            </div>
        </a>
    </div>


    <div class="col-sm-7 col-md-3">
        <a href="#" data-toggle="modal" data-target="#modalAbertura">
            <div class="card">
                <div class="card-body tamanhoCard">
                    <h5 class="card-title">BORA TRABALHAR</h5>
                    <!-- <p class="card-text">Abertura de Caixa</p> -->
                    <p class="card-text">Abertura de Caixa</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-7 col-md-3">
        <a href="#" data-toggle="modal" data-target="#modalFechamento">
            <div class="card">
                <div class="card-body tamanhoCard">
                    <h5 class="card-title">DESCANSO</h5>
                    <p class="card-text">Fechamento de Caixa</p>

                </div>
            </div>
        </a>
    </div>
</div>
<!-- Cards de Ação Segunda Linha-->
<div class="row menu" id="menu_2">
    <div class="col-sm-7 col-md-3">
        <a href="#" data-toggle="modal" data-target="#modalCpf">
            <div class="card tamanhoCard">
                <div class="card-body">
                    <h5 class="card-title">CLIENTE DROGASIL</h5>
                    <p class="card-text">Identifica Cliente</p>
                    <h5 class="card-title">DESCONTOS DE ATÉ</h5>
                    <h5 class="card-title">R$ 10,00</h5>

                </div>
            </div>
        </a>
    </div>

    <!-- <div class="col-sm-7 col-md-3">
            <a href="vendaSimples.html">
                <div class="card tamanhoCard">
                    <div class="card-body">
                        <h5 class="card-title">APENAS SIMPLES</h5>
                        <p class="card-text">Venda Simples</p>
                        <h5 class="card-title">SEM DESCONTOS</h5>
                    </div>
                </div>
            </a>
        </div> -->
    <div class="col-sm-7 col-md-3">
        <a href="#" data-toggle="modal" data-target="#entradaOperador">
            <div class="card tamanhoCard">
                <div class="card-body">
                    <h5 class="card-title">É DIA DE QUEM?</h5>
                    <p class="card-text">Entrada de Operador</p>

                </div>
            </div>
        </a>
    </div>
</div>