<div class="row"> <img src="../../assets/img/logo.png" alt=""></div>

<div class="float-right text-center VisualDateHours">
    <!-- HORA -->
    <div id="hora" style="font-size: 23px;"></div>

    <!-- PENDENTE FAZER O ÍCONE DE DATA -->

    <div class="arrumaData">
        <img width="20px"style="margin-left: 95px;" height="23px" src="../../assets/img/iconCalendarioBlack.png">
        <div id="data" style="margin-right: 150px;"> </div>
    </div>
    <!-- CAMPO QUEM ESTÁ LOGADO -->
    <div style="margin-right: 30px">PDV 1<strong> OPERADOR:</strong> {{ operador.nomeOperador }}</div>


</div>
