<div class="col-1">
    <div class="sidenav">
        <a href="index.html"><img src="../../assets/img/iconHomeEdit.png" alt="side_bar" width="30"
                height="30"></a>
        <!-- <a href=""><img src="../../assets/img/iconCartEdit.png" alt="side_bar" width="30" height="30"></a> -->
        <!-- <a href=""><img src="../../assets/img/iconConfigEdit.png" alt="side_bar" width="30" height="30"></a> -->
        <div style="color: white; text-align: center;">{{ request.cdFilial }} </div>
    </div>
</div>
