<div class="row mt-5">
    <div class="d-flex col-sm" id="wrapper">
        <div class="col-7 bg-light border-right mt-2" id="sidebar-wrapper">
            <div class="sidebar-heading list-group">
                <table>
                    <tr class="row">
                        <td class="col-2">QTD</td>
                        <td class="col-8">Produto</td>
                        <td class="col-2">Valor</td>
                    </tr>
                </table>
            </div>
            <div class="list-group list-group-flush" id="listaProdutos">
                <table>
                    
                    <tr class="row" *ngFor="let produtos of listaDeProdutos" style="font-size: 15px;">
                        <td class="col-2" style="text-align: center;">{{produtos.qtdProduto}} X</td>
                        <td class="col-8" >{{produtos.descricaoProduto}}</td>
                        <td class="col-2">R$ {{produtos.valorProduto}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="container items-flex">
                    <!-- LETRAS EM CIMA DOS BOTÕES -->
                    <form id="vendaTop">
                        <div class="row">
                            <div class="col">
                                <label for="qtd-item">QTD ITEM</label>
                                <p type="number" class="form-control valoresPagamento" id="qtd-item" style="color: white;" readonly>{{qtdTotal}}</p>
                            </div>
                            <div class="col">

                                <label for="desconto">DESCONTO</label>
                                <input type="number" class="form-control valoresPagamento" id="desconto" readonly value="{{desconto}}"  style="color: white; text-align: center;">

                            </div>
                            <div class="col">
                                <label for="total">TOTAL</label>
                                <p type="number" class="form-control valoresPagamento" id="total" style="color: white;"  readonly>  {{total | currency}} </p>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- BODY DO LADO -->
        <div class="container mt-2 ml-1" style="background-color: white; font-size: 14px;" id="bodyLado"> 
            <div class="col-12 row">
                <div class="col-6">
                    <label for="cdProduto">CÓDIGO DO PRODUTO</label>
                    <input type="text" [(ngModel)]="id" class="form-control" id="cdProduto" name="cdProduto">
                </div>
                <div class="col-6">
                    <label>Digite a quantidade</label>
                    <input type="number" [(ngModel)]="quantidade" class="form-control" id="qtdProdutos"
                        name="qtdProdutos">
                </div>
            </div>
            <div style="margin-left: 15px; margin-top: 10px">
                <button class="btn btn-success" (click)="buscarProduto()">CONFIRMAR PRODUTO</button>
            </div>
            <div>
                <div class="items-flex">
                    <div class="ml mt-5">
                        <label>Operador: </label>

                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#">CANCELAR</button>

                        <button type="button" class="btn btn-success" data-toggle="modal" routerLink="formaPagamento" data-target="#formasPagamento">CONFIRMAR</button>

                        <input type="text" class="form-control" id="codProduto" placeholder="CPF" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
